@import '../../styles/contants.scss';

.wrapper{

    .container{
        position: relative;
        z-index: 1;

        .upperElements {

            @media (max-width: $md) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .lowerElements {

            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
                text-align: center;
            }

            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .experience{
                display: flex;
                align-items: center;
                padding-left: 2rem;
                gap: 1rem;
                >:nth-child(2){
                    line-height: 2rem;
                }
            }

            .certificate{
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    margin-bottom: 1rem;
                    width: 3.5rem
                }
            }
        }

        .person{

            @media (max-width: $sm), (max-width: $md) {
                position: relative;
                left: 0;
                margin-top: 1rem;
                border-radius: 800px;
                background-size: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            
            position: absolute;
            background-image: url("../splash.png");
            background-repeat: repeat;
            background-size: contain;
            object-fit: contain;
            top: 0;
            left: 30%;
            z-index: -1;
            bottom: 1;

            img{
                @media (max-width: $sm) {
                    width: 23rem;
                }

                margin-bottom: -10px;
            }
        }

        .description{

            @media (max-width: $md) {
                position: relative;
                display: none;
            }

            display: block;
            max-width: 18rem;
            font-size: 1.2rem;
            word-spacing: 2.5px;
            position: absolute;
            left: 0;
            color: secondaryText;

            .description1{
                top: 50%
            }

            .description2{
                top: 60%
            }
        }
    }
}